h1 {
    font-size: 2.5rem;
    font-weight: 800;
    letter-spacing: 2px;
}

.user-info {
    .drop{
        top: 105%;
        right: 0;
    }
}
.emergency {
    background-color: #fff;
}

.cell {
    background-color: #FAFBFD;
    transition: .3s;
    &:hover{
        background-color: #F1F5F8;
    }
}

.case-mode{
    background-color: #2662F0;
    p{
        color: #FFF !important;
    }
}

.case-contact{
    background-color: #34D1BF;
    p {
        color: #FFF;
    }
}